body{
    font-family: 'Brush Script MT', cursive;
}

/* .btn .btn-primary .btn-block{
    position: center;
    margin-left: 143px;
} */

/* .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    position: fixed;
} */